body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-heebo: Heebo;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-11xl: 30px;
  --font-size-sm: 14px;
  --font-size-3xl: 22px;
  --font-size-7xl: 26px;

  /* Colors */
  --color-white: #fff;
  --color-darkslateblue: #142850;
  --dark-color: #21243d;
  --light: #8695a4;
  --secondry: #00a8cc;
  --color-aliceblue: #edf7fa;
  --color-black: #000;
  --primary: #ff6464;

  /* Border radiuses */
  --br-7xs: 6px;
  --br-base: 16px;
  --br-9xs: 4px;
}

nav {
  display: flex;
  justify-content: right;
  padding: 0;
  background: #cfd8dc;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: end;
}

nav li {
  padding-left: 1rem;
}
.contact,
.blog,
.works {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 20px;
  line-height: 29.38px;
}

.blog {
  padding-right: 40px;
}
.works {
  padding-right: 40px;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  margin-top: 158px;
}

/* Style for the image div */

.profile_head {
  width: 450px;
  height: 105px;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
}
.profile_desc {
  margin-top: 40px !important;
  width: 497px;
  height: 66px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23.5px;
}
.download_resume:hover {
  background-color: red;
  transition: ease-out 0.4s;
}
.btn_text {
  font-size: 20px;
  line-height: 29.38px;
  font-weight: 500;
  height: 21px;
  width: 167px;
}
.download_resume {
  margin-top: 38px;
  width: 208px;
  height: 47px;
  border-radius: 2px;
  background-color: #ff6464;
  color: #ffff;
  border: none;
}
@media (min-width: 768px) and (max-width: 2000px) {
  .hide-lg {
    display: none;
  }
  .show-lg {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .hide-md {
    display: none;
  }
  .show-md {
    display: block;
  }
  .profile_head {
    margin: 0 auto;
    width: 312px;
    height: 120px;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }
  .profile_desc {
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 40px !important; */
    text-align: center;
    width: 328px;
    height: 96px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23.5px;
  }
  .download_resume {
    margin-top: 38px;
    width: 208px;
    height: 47px;
    border-radius: 2px;
    background-color: #ff6464;
    color: #ffff;
    border: none;
  }
  .profile {
    margin-top: 33px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .image {
    margin-left: 30px;
  }
}
.recent_post {
  /* height: 396px; */
  width: 100%;
  background-color: #edf7fa;
  margin-top: 71px;
}

.recent-post-1 {
  width: 408px !important;
  height: 295px;
  border-radius: 4px;
  background-color: #ffff;
  margin-top: 69px;
  margin-right: 10px;
  margin-bottom: 40px;
}
.recent-post-2 {
  width: 408px !important;
  height: 295px;
  border-radius: 4px;
  background-color: #ffff;
  margin-top: 69px;
  margin-left: 10px;
  margin-bottom: 40px;
}
.container {
  width: 836px !important;
}
.recent-text {
  height: 60px;
  width: 129px;
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  color: #21243d;
  cursor: pointer;
}
.view-text {
  width: 208px;
  height: 20px;
  font-size: 16px;
  font-weight: 400;
  text-align: right;
  line-height: 23.5px;
  color: #00a8cc;
  margin-top: 27px;
  cursor: pointer;
}
.recent-post-head-1 {
  width: 374px;
  height: 85px;
  font-weight: 700;
  font-size: 26px;
  line-height: 38.19px;
}
.recent-post-head-2 {
  width: 374px;
  height: 85px;
  font-weight: 700;
  font-size: 26px;
  line-height: 38.19px;
}
.content {
  padding: 10px 10px 10px 10px !important;
}
.recent-date {
  width: 374px;
  height: 34px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26.44px;
}

.recent-date-title {
  width: 239px;
  height: 34px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26.44px;
}
.recent-post-para {
  width: 368px;
  height: 117px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23.5px;
}
@media (min-width: 200px) and (max-width: 576px) {
  .recent-post-1 {
    width: 100% !important;
  }
  .recent-post-2 {
    width: 100% !important;
  }
}
