body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-heebo: Heebo;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-11xl: 30px;
  --font-size-sm: 14px;
  --font-size-3xl: 22px;
  --font-size-7xl: 26px;

  /* Colors */
  --color-white: #fff;
  --color-darkslateblue: #142850;
  --dark-color: #21243d;
  --light: #8695a4;
  --secondry: #00a8cc;
  --color-aliceblue: #edf7fa;
  --color-black: #000;
  --primary: #ff6464;

  /* Border radiuses */
  --br-7xs: 6px;
  --br-base: 16px;
  --br-9xs: 4px;
}

nav {
  display: flex;
  justify-content: right;
  padding: 10px 50px 10px 10px;
  background: #cfd8dc;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: end;
}

nav li {
  padding-left: 1rem;
}
.contact,
.blog,
.works {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 20px;
  line-height: 29.38px;
}

.blog {
  padding-right: 40px;
}
.works {
  padding-right: 40px;
}

.profile {
  display: flex;
  flex-wrap: wrap;
}

.box {
  flex: 0 0 calc(50% - 20px); /* Two boxes per row with some spacing */
  margin: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 500px;
  width: 320px;
}
.box-img {
  flex: 0 0 calc(50% - 20px); /* Two boxes per row with some spacing */
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 500px;
  width: 320px;
}

/* Style for the image div */
.image {
  text-align: center;
}

.image img {
  border-radius: 50%; /* Make the image round */
  max-width: 100px;
  height: auto;
}

.profile_head {
  width: 450px;
  height: 105px;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
}
.profile_desc {
  margin-top: 40px !important;
  width: 497px;
  height: 66px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23.5px;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .hide-lg {
    display: none;
  }
  .show-lg {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .hide-md {
    display: none;
  }
  .show-md {
    display: block;
  }
}
